mixin file-info(props)
	ul.file-info
		li.file-info__item
			span.file-info__title Тип документа: 
			span= props.type
		li.file-info__item
			span.file-info__title(title="Дата последнего изменения") Дата: 
			span= props.date
		li.file-info__item
			span.file-info__title Формат:
			case props.format
				when 'doc'
					span.file__info-format(title="Расширение имени файла, используемое для файлов, представляющих текст, с разметкой или без.Расширение «.doc» часто использовалось для обозначения текстовых файлов, содержащих текст без форматирования, позже стало использоваться для двоичных форматов с разметкой.") DOС ( #{props.size} )
				when 'DOCX'
					span.file__info-format(title="Расширение имени файла, используемое для файлов, представляющих текст, с разметкой или без.Расширение «.doc» часто использовалось для обозначения текстовых файлов, содержащих текст без форматирования, позже стало использоваться для двоичных форматов с разметкой.") DOСX ( #{props.size} )
				when 'rtf'
					span.file__info-format(title="Rich Text Format, RTF (англ. rich — богатый; «формат обогащённого текста») — проприетарный межплатформенный формат хранения размеченных текстовых документов, предложенный группами программистов, основавшими компании Microsoft и Adobe, как мета-теговый формат для редактора Word в 1982 году. С тех пор спецификация формата несколько раз изменялась. После разрыва отношений с Microsoft компания Adobe продолжила самостоятельное развитие метатэгового языка, заложенного в основу RTF, создав в 1985 году язык PostScript.") RTF ( #{props.size} )
				when "pdf"
					span.file__info-format(title="Portable Document Format (PDF) — межплатформенный открытый формат электронных документов, изначально разработанный фирмой Adobe Systems с использованием ряда возможностей языка PostScript. В первую очередь предназначен для представления полиграфической продукции в электронном виде. Для просмотра существует множество программ, а также официальная платная программа Adobe Reader. Значительное количество современного профессионального печатного оборудования имеет аппаратную поддержку формата PDF, что позволяет производить печать документов в данном формате без использования какого-либо программного обеспечения. Традиционным способом создания PDF-документов является виртуальный принтер, то есть документ как таковой готовится в своей специализированной программе — графической программе или текстовом редакторе, САПР и т. д., а затем экспортируется в формат PDF для распространения в электронном виде, передачи в типографию и т. п.") PDF ( #{props.size} )				
				when 'jpg'
					span.file__info-format(title="JPEG (произносится «джейпег»[1], англ. Joint Photographic Experts Group, по названию организации-разработчика) — один из популярных растровых графических форматов, применяемый для хранения фотоизображений и подобных им изображений. Файлы, содержащие данные JPEG, обычно имеют расширения (суффиксы) .jpg, .jfif, .jpe или .jpeg. Однако из них .jpg является самым популярным на всех платформах. MIME-типом является image/jpeg.") JPG ( #{props.size} )
				when 'rar'
					span.file__info-format(title="RAR — проприетарный формат сжатых данных и условно-бесплатная программа-архиватор. Версия для Microsoft Windows распространяется в составе многоформатного архиватора с графическим интерфейсом — WinRAR.") RAR ( #{props.size} )
				default
					span Не указан
		span.file-info__open Чем открыть:
		case props.format
			when 'doc'
				+file-open({
					format: 'doc',
				})
			when 'docx'
				+file-open({
					format: 'doc',
				})
			when 'rtf'
				+file-open({
					format: 'rtf',
				})
			when 'pdf'
				+file-open({
					format: 'pdf',
				})
			when 'jpg'
				+file-open({
					format: 'jpg',
				})
			when 'rar'
				+file-open({
					format: 'rar',
				})
			default
				span Рекомендуемые программы не указаны
